<script type="text/javascript">
 $(function() {
  analytics();
  
  var form_options = {
    beforeSerialize: function() {
      open_working();
    },
    success: function() {
      $('#tabs').tabs('load', 8);
    }
  };

  $('.ajax_form').ajaxForm(form_options);
  
  $('span.create_coachname').live('click', function() {
    $('#tabs').tabs('select', 7);
    $.fn.colorbox.close();
    return false;
  });

  $('a[rel="schedule"]').colorbox({
    current: "",
    href: function() { return $(this).attr('href').replace("#", ""); },
    scrolling: false
  });
  
    $('a[rel="leader_coach"]').colorbox({
    current: "",
    href: function() { return $(this).attr('href').replace("#", ""); },
    scrolling: false
  });
  
/* Purposefully turn off sorter.
  $('.schedule_table').tablesorter({
    sortList: [[0,1]]
  });
*/

  function ReorganizeValues(oldpositions, newpositions)
  {
    var originalValues = [];
    for (var i=0; i<oldpositions.length; i++) {
      originalValues.push($("input."+oldpositions[i]).val())
      
    }

    for (var i=0; i<oldpositions.length; i++) {    
      var new_class = newpositions[i]
      $("input."+new_class).val(originalValues[i])
      $("td."+new_class).text(originalValues[i])
    }
    
  }
  
  $( "#sortable" ).sortable({
    start: function(event, ui) {
	  //Get old position order
	  $(this).data("old_position",$(this).sortable("toArray", {attribute: 'class'}))
	  //console.log($(this).data("old_position"))
    },
	update: function(event, ui) {
      //Get new position order
	  $(this).data("new_position",$(this).sortable("toArray", {attribute: 'class'}))
	  //console.log($(this).data("new_position"))
      //var fruitOrder = $(this).sortable('toArray', {attribute: 'class'}).toString();
      //console.log("fruitOrder: " + fruitOrder)
      //console.log(fruitOrder[0])
      //var selected_row=ui.item
      //var row_class = selected_row.attr('class')
      //console.log ("Class = " + row_class) 
      //var currentIndex = ui.placeholder.index();
      //$("."+row_class).attr('value', currentIndex)
      ReorganizeValues($(this).data("old_position"), $(this).data("new_position"))
      },
    change: function (event, ui) {
	  //console.log("change")
      //var originIndex = ui.item.data('originIndex');
      //var currentIndex = ui.placeholder.index();
                       
      //if (currentIndex > originIndex)
      //{
        //currentIndex -= 1;
      //}
                       
      //$("#hoveringOver").text("Current Index: " + currentIndex);
      //var selected_row = ui.item;  
      //console.log(selected_row.children()[0].textContent);
      //var point_value = 20-currentIndex;
      //selected_row.children()[0].textContent = point_value;
    },
    stop: function (event, ui) {
	  //console.log("stop") 
      //$("#draggingFrom, #hoveringOver").text("None");

    }
  });
  
  $('a[rel="schedule"]').colorbox({
    current: "",
    href: function() { return $(this).attr('href').replace("#", ""); },
    scrolling: false
  });
  
});
</script>


{% if not user %}
<p>
This is OFL 'Pickem!  Predict which teams in the OFL will win, lose, or draw!  Beat your fellow coaches for the ultimate bragging rights.
</p>
<p>
Please login under Coach Tab.
</p>
{% else %}
  {% if not coach %}
  <p>
    This is OFL 'Pickem!  Predict which teams in the OFL will win, lose, or draw!  Beat your fellow coaches for the ultimate bragging rights.
  </p>
  <p>
   To start playing create a profile under the Coach tab.
  </p>

  {% else %}
  <div class='h2'>
    <h2>Select your schedule</h2>
  </div>
  <div>
  <table><tr><td>
  <B>Season 10 Week:</B>
  </td>
  {% for i in 16|get_range %}
      <td>
      <form class="ajax_form" action="/get_schedule" method="post">
	  <input type="hidden" name="coach_name" value="{{coach.key.name}}">
	  <input type="hidden" name="season" value="10">
	  <input type="hidden" name="week" value="{{forloop.counter}}">
	  <input type="submit" value="{{forloop.counter}}"/>
      </form>
      </td>
  {% endfor %}
  </tr></table>
   <table><tr><td>
  <B>Season 11 Week:</B>
  </td>
  {% for i in 16|get_range %}
      <td>
      <form class="ajax_form" action="/get_schedule" method="post">
	  <input type="hidden" name="coach_name" value="{{coach.key.name}}">
	  <input type="hidden" name="season" value="11">
	  <input type="hidden" name="week" value="{{forloop.counter}}">
	  <input type="submit" value="{{forloop.counter}}"/>
      </form>
      </td>
  {% endfor %}
  </tr></table>
     <table><tr><td>
  <B>Season 12 Week:</B>
  </td>
  {% for i in 16|get_range %}
      <td>
      <form class="ajax_form" action="/get_schedule" method="post">
	  <input type="hidden" name="coach_name" value="{{coach.key.name}}">
	  <input type="hidden" name="season" value="12">
	  <input type="hidden" name="week" value="{{forloop.counter}}">
	  <input type="submit" value="{{forloop.counter}}"/>
      </form>
      </td>
  {% endfor %}
  </tr></table>
</div>
     <table><tr><td>
  <B>Season 13 Week:</B>
  </td>
  {% for i in 16|get_range %}
      <td>
      <form class="ajax_form" action="/get_schedule" method="post">
	  <input type="hidden" name="coach_name" value="{{coach.key.name}}">
	  <input type="hidden" name="season" value="13">
	  <input type="hidden" name="week" value="{{forloop.counter}}">
	  <input type="submit" value="{{forloop.counter}}"/>
      </form>
      </td>
  {% endfor %}
  </tr></table>
  <table><tr><td>
  <B>Season 14 Week:</B>
  </td>
  {% for i in 16|get_range %}
      <td>
      <form class="ajax_form" action="/get_schedule" method="post">
	  <input type="hidden" name="coach_name" value="{{coach.key.name}}">
	  <input type="hidden" name="season" value="14">
	  <input type="hidden" name="week" value="{{forloop.counter}}">
	  <input type="submit" value="{{forloop.counter}}"/>
      </form>
      </td>
  {% endfor %}
  </tr></table>
  <table><tr><td>
  <B>Season 15 Week:</B>
  </td>
  {% for i in 16|get_range %}
      <td>
      <form class="ajax_form" action="/get_schedule" method="post">
	  <input type="hidden" name="coach_name" value="{{coach.key.name}}">
	  <input type="hidden" name="season" value="15">
	  <input type="hidden" name="week" value="{{forloop.counter}}">
	  <input type="submit" value="{{forloop.counter}}"/>
      </form>
      </td>
  {% endfor %}
  </tr></table>
  <table><tr><td>
  <B>Season 16 Week:</B>
  </td>
  {% for i in 16|get_range %}
      <td>
      <form class="ajax_form" action="/get_schedule" method="post">
	  <input type="hidden" name="coach_name" value="{{coach.key.name}}">
	  <input type="hidden" name="season" value="16">
	  <input type="hidden" name="week" value="{{forloop.counter}}">
	  <input type="submit" value="{{forloop.counter}}"/>
      </form>
      </td>
  {% endfor %}
  </tr></table>
</div>
  
  <div class='h2'>
     <h2>Season {{ season }} Week {{ week }} Schedule</h2>
    </div>
<p>
Click and drag your selections to assign wager values.  When you are done sorting, click "Save Predictions"! 
</p>
  <div class="box match_box">
  <div>
  <form class="ajax_form" action="/save_predictions" method="post">
  <input type="hidden" name="count" value="{{prediction_list.count}}">
  {{ table_html|safe }}
  <input type="submit" value="Save Predictions"/>
  </form>
  </div>
  
<div class="h2">
<h2>Games Played</h2>
</div>
{% with played_table as table %}
{% include "table.html" %}
{% endwith %}
</div>
  
  
<div class="leader_section">
<table class="ofl_pickem_leader">
<tr>
<td>
  <div class='h2'>
    <h2>Week {{ week }} Point Leaders</h2>
  </div>
{% with leader_table.week as table %}
{% include "table.html" %}
{% endwith %}
</td>
<td>
  <div class='h2'>
    <h2>Week {{ week }} Match Leaders</h2>
  </div>
{% with leader_table.week_matches as table %}
{% include "table.html" %}
{% endwith %}
</td>
</tr>
<tr>   
<td>  
   <div class='h2'>
    <h2>Season {{ season }} Point Leaders</h2>
  </div>
{% with leader_table.season as table %}
{% include "table.html" %}
{% endwith %}  
</td>
<td>  
   <div class='h2'>
    <h2>Season {{ season }} Match Leaders</h2>
  </div>
{% with leader_table.season_matches as table %}
{% include "table.html" %}
{% endwith %}  
</td>
</tr>
<tr>
<td>
  <div class='h2'>
    <h2>All-Time Point Leaders</h2>
  </div>
{% with leader_table.alltime as table %}
{% include "table.html" %}
{% endwith %}
</td>
<td>
  <div class='h2'>
    <h2>All-Time Match Leaders</h2>
  </div>
{% with leader_table.alltime_matches as table %}
{% include "table.html" %}
{% endwith %}
</td>
</tr>
</table>

{% block boxes %}
{% endblock %}

</div>
  
  {% endif %}
{% endif %}
